/* FONT : font-family: "Oswald", sans-serif; */
*{
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    background-color:rgb(22, 26, 35);
}

/* nav bar */
.nav-bar h1 {
    margin: 0;
    color: rgb(140, 140, 140);
    margin-left: 120px;
    position: relative;
    z-index: 2;
}

header {
    background-color:rgb(22, 26, 35);
    color: #fff;
    padding: 10px;
    text-align: center;
}

.header_background {
    position: relative;
}

.header_background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../image/OSRS-HD-Plugin-Screenshot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    z-index: 1;
}

.header-f {
    color: 	rgb(153, 0, 0);
}

.header-e {
    color: rgb(0, 77, 153);
}

.header-w {
    color: 	rgb(153, 0, 0);
}

.header-e {
    color: rgb(0, 77, 153);
}

nav {
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-left: 120px;
    position: relative;
    z-index: 2;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: #555;
}

.logo img {
    width: 15%;
    margin-left: 120px;
    position: relative;
    z-index: 2;
}

/* EFFECT ACTIVE SUR LA NAV BAR */
#images-nav {
    background-color: #333;
}

/* FOOTER */

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* main content */


.header_images {
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo img{
    margin: 0;
}

.nav-bar h1 {
    margin: 0;
}

.nav-items nav {
    margin: 0;
}

.photo-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.photo-container img {
    width: 100%;
}

.grid-item_un {
    grid-column: 1 / span 2;
}



