/* FONT : font-family: "Oswald", sans-serif; */
*{
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    background-color:rgb(22, 26, 35);
}

/* nav bar */
.nav-bar h1 {
    margin: 0;
    color: rgb(140, 140, 140);
}

header {
    background-color:rgb(22, 26, 35);
    color: #fff;
    padding: 10px;
    text-align: center;
}

.header-f {
    color: 	rgb(153, 0, 0);
}

.header-e {
    color: rgb(0, 77, 153);
}

.header-w {
    color: 	rgb(153, 0, 0);
}

.header-e {
    color: rgb(0, 77, 153);
}

nav {
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: #555;
}

.logo img {
    width: 15%;
}

/* EFFECT ACTIVE SUR LA NAV BAR */
#home {
    background-color: #333;
}

/* content main */

.content-main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    margin-left: 0;
}

.card {
    width: 45%;
    border-radius: 8px;
    border: 1px solid #000000;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}

.staff-card {
    font-size: 20px;
    color: #333;
    
}

.staff-container {
    display: flex;
    justify-content: space-between;
}

.left-column, .right-column {
    flex: 1;
}

.button-link {
    text-decoration: none;
}

/* discord widget */
.discord-wrapper {
    width: 25%;
    float: left;
}
.widget-discord {
    padding-bottom: 20px;
    padding-left: 70px
}

.discord-header {
    margin-top: 0;
}

.widget-discord h3 {
    font-size: 24px;
    color: white;
}

.discord-link {
    text-decoration: none;
    color: #333;
}

.discord-link a:hover {
    background-color: rgb(22, 26, 35);
    color: white;
}

#hidden {
    display: none;
}

/* button RULES */

.button-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
  
    background: #6E6D70;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-12:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
  }
  
  .button-12:hover {
    background-color: #333;
  }

  #imageToShow {
    width: 100%;
  }

/* FOOTER */

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* media queries */

@media screen and (max-width: 1690px) {
    .aside-img-left,
    .aside-img-right {
        display: none;
    }
}

@media screen and (max-width: 1580px) {
    .discord-wrapper {
        display: none;
    }
    #hidden {
        display: block;
        text-align: center;
    }
    .content-main {
        margin: 0;
        padding-left: 140px;
    }
    .container {
        padding: 0 20px;
    }
    .discord-header-bottom {
        color: white;
    }
}


/* new card */

.gradient-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  padding: 30px;
  @media screen and (max-width: 991px) {
    grid-template-columns: 1fr;
  }
}

.container-title {
  text-align: center;
  padding: 0 !important;
  margin-bottom: 40px;
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  line-height: 60px;
  margin: 0;
}

.card {
  max-width: 550px;
  border: 0;
  width: 100%;
  margin-inline: auto;
}

.container-card {
  position: relative;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #080509, #1a171c, #080509);
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;
  img {
    margin-bottom: 32px;
  }
}

.bg-green-box,
.bg-white-box,
.bg-yellow-box,
.bg-blue-box {
  position: relative;
}

.bg-green-box::after,
.bg-white-box::after,
.bg-yellow-box::after,
.bg-blue-box::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  border-radius: 45px;
}

.bg-green-box::after {
  background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
}

.bg-white-box::after {
  background: linear-gradient(71deg, #121013, #b0afb0, #121013);
}

.bg-yellow-box::after {
  background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
}

.bg-blue-box::after {
  background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
}

.card-title {
  font-weight: 600;
  color: white;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
}

.card-description {
  font-weight: 600;
  line-height: 32px;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 16px;
  max-width: 470px;
}