/* FONT : font-family: "Oswald", sans-serif; */
*{
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    background-color:rgb(22, 26, 35);
}

/* nav bar */
.nav-bar h1 {
    margin: 0;
    color: rgb(140, 140, 140);
}

header {
    background-color:rgb(22, 26, 35);
    color: #fff;
    padding: 10px;
    text-align: center;
}

.header-f {
    color: 	rgb(153, 0, 0);
}

.header-e {
    color: rgb(0, 77, 153);
}

.header-w {
    color: 	rgb(153, 0, 0);
}

.header-e {
    color: rgb(0, 77, 153);
}

nav {
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: #555;
}

.logo img {
    width: 15%;
}

/* EFFECT ACTIVE SUR LA NAV BAR */
#home {
    background-color: #333;
}

/* content main */

.content-main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    margin-left: 0;
}

.card {
    width: 45%;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #000000;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}

.staff-card {
    font-size: 20px;
    color: #333;
    
}

.staff-container {
    display: flex;
    justify-content: space-between;
}

.left-column, .right-column {
    flex: 1;
}

.button-link {
    text-decoration: none;
}

/* discord widget */
.discord-wrapper {
    width: 25%;
    float: left;
}
.widget-discord {
    padding-bottom: 20px;
    padding-left: 70px
}

.discord-header {
    margin-top: 0;
}

.widget-discord h3 {
    font-size: 24px;
    color: white;
}

.discord-link {
    text-decoration: none;
    color: #333;
}

.discord-link a:hover {
    background-color: rgb(22, 26, 35);
    color: white;
}

#hidden {
    display: none;
}

/* button RULES */

.button-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
  
    background: #6E6D70;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-12:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
  }
  
  .button-12:hover {
    background-color: #333;
  }

  #imageToShow {
    width: 100%;
  }

/* FOOTER */

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* media queries */

@media screen and (max-width: 1690px) {
    .aside-img-left,
    .aside-img-right {
        display: none;
    }
}

@media screen and (max-width: 1580px) {
    .discord-wrapper {
        display: none;
    }
    #hidden {
        display: block;
        text-align: center;
    }
    .content-main {
        margin: 0;
        padding-left: 140px;
    }
    .container {
        padding: 0 20px;
    }
    .discord-header-bottom {
        color: white;
    }
}